# Dependencies
node_modules/
.pnp
.pnp.js
vendor/

# Build output
dist/
build/
out/
.next/
.expo/
*.tsbuildinfo

# Environment & secrets
.env
.env.*
services/api/uploads/*
!services/api/uploads/.gitkeep
!.env.example
*.pem
*.key

# Mobile
*.ipa
*.apk
*.aab
ios/Pods/
android/.gradle/
android/app/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Testing / coverage
coverage/
.nyc_output/

# Misc
*.tmp
*.bak
